html,
body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: burlywood;
}

h1 {
    padding: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    background-color: whitesmoke;
}

#Insert {
    height: 50 px;
    width: 50px;
    vertical-align: middle;
    font-size: 30px;
    background-color: cyan;
}

.TODO {
    margin-top: 25px;
}

.paradecoration {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}